/* 동영상을 배경으로 */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    /* 화면 채우기 */
    z-index: -1;
    /* 콘텐츠 뒤로 */
}

.section {
    opacity: 0.8;
}

/* transform 여러 효과 적용 가능 , 모바일에서는 사용 안함
rotateX(-180deg) -> rotateX(0)
사용시 적당한 값 찾을 필요있음 */
@media (min-width: 768px) {
    .section {
        opacity: 0;
        transform: translateX(-200px);
        transition: all 1s ease;
    }

    .section.show {
        opacity: 0.8;
        transform: scale(0.9) translateX(0);
    }
}